* {
  box-sizing: border-box;
  maring: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Apple SD Gothic Neo", snas-serif;
}

body {
  background-color: #faf7fs;
  color: #333;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 360px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 24px;
}

.header {
  text-align: center;
  margin-botton: 24px;
}

.header img {
  max-width: 10%;
  height: auto;
  position: absolute;
}

.header h1 {
  font-size: 1.6rem;
  margin-botton: 6px;
}

.subtitle {
  font-size: 0.8rem;
  color: #888;
}

.playlist {
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-text {
  font-size: 0.95rem;
  color: #aaa;
}

.footer {
  margin-top: 24px;
  text-align: center;
}

.add-btn {
  background-color: #f2eee8;
  border: none;
  border-radius: 999px;
  padding: 10px 18px;
  font-size: 0.9rem;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #e6e1d9;
}

.song-list {
  list-style: none;
  padding: 0;
}

.song-item {
  background: #faf7f2;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 10px;
}

.song-item p {
  margin-bottom: 6px;
}

.song-item a {
  font-size: 0.85rem;
}

.hidden {
  display: none;
}
